.main {
  display: flex;
  flex-direction: column;
}

.page {
  padding: 5px;
  margin: 10px;
  box-shadow: 2px 2px 1px indigo;

  cursor: pointer;
  transition: 0.05s;

  text-align: center;
  width: 290px;
  box-sizing: border-box;
}
.page:hover {
  transition: 0.05s;
  box-shadow: 3px 3px 2px indigo;
}
