.main {
  width: 97%;
  max-width: 500px;
}

.name {
  margin-bottom: 25px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.linkInputs {
  display: flex;
  width: 97%;
  box-sizing: border-box;
}
.linkInputs input {
  flex-basis: 250px;
  padding: 5px;
  box-sizing: border-box;
  height: 30px;
}
.currentLinkName {
  margin-right: 10px;
}

.cancel,
.submit {
  width: 97%;
  height: 30px;
  margin-top: 25px;
}
.add {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.cancel,
.submit,
.add {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  background-color: rgb(68, 68, 187);

  cursor: pointer;
}
.cancel:disabled,
.add:disabled,
.submit:disabled {
  cursor: not-allowed;
  background-color: gray;
}

.cancel {
  margin-top: 5px;
  background-color: rgb(187, 68, 68);
}

.link {
  width: 97%;
  display: flex;
  box-sizing: border-box;
}
.linkName {
  padding: 5px;
  margin-right: 10px;
  flex-basis: 250px;
}
.linkValue {
  padding: 5px;
  flex: 3;
}
.deleteLink {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: white;
  background-color: rgb(187, 68, 68);
  margin-left: 10px;
  cursor: pointer;
}
